body {
  font-family: "Gotham", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #373737;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.header {
  background: url('/img/header-background.jpg') #294536 no-repeat;
  background-position: center bottom;
  background-size: 100%;
  height: 588px;

  nav {
    margin: 32px 20px 0 20px;

    #logo {
      background-image: url('/img/logo.png');
      width: 223px;
      height: 23px;
    }

    ul#menu {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;

        a {
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

#landing-page {

}
